<header id="header">
    <a id="title" href="<%= url_for() %>" class="logo"><%- config.title %></a>
	<% if(false) { %>
	<ul id="menu">
		<li class="menu-item">
			<a href="/about" class="menu-item-link">ABOUT</a>
		</li>
	</ul>
	<% } %>
</header>
